/* QuickReply.css */
.quick-replies-container {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; Align to the right like iMessage */
    align-items: center;
    justify-content: space-around;
    padding: 1px;
}

.quick-replies-text {
    background-color: #e5e5ea; /* Light grey background */
    border-radius: 20px;
    padding: 10px 15px;
    max-width: 80%; /* Ensure text does not span full width */
    word-wrap: break-word; /* Ensure long text wraps */
    margin-bottom: 10px;
}

.quick-replies {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align quick replies to the right */
}

.quick-reply-btn {
    background-color: #0b93f6; /* Blue, similar to iMessage */
    border-radius: 20px; /* Rounded corners for bubble effect */
    color: white;
    padding: 8px 20px;
    /* margin: 0 10px; */
    margin: 5px 2px;
    /* margin-right: 10px; Spacing between buttons */
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.quick-reply-btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.quick-replies-flex-container {
    display: flex;
    flex-wrap: wrap; /* Wrap buttons to the next line if they don't fit */
    /* justify-content: space-around; Space buttons equally in available space */
    justify-content: center;
    gap: 5px; /* Use gap to add space between items, works if your browser support is recent enough */
  }